<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2 translate="pcsApp.workplace.home.mergeTitle" translate-values="{workplaceName: '{{vm.workplace.name}}'}">Merging workplaces into {{vm.workplace.name}}</h2>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<jhi-alert-error></jhi-alert-error>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title float-e-margins">
                    <button class="btn btn-info" type="submit" ui-sref="workplace">
                        <i class="fa fa-arrow-left"></i>
                    </button>
                    <button class="btn btn-success" type="submit" ng-disabled="!vm.isAnyWorkplaceSelected()"
                            ui-sref="workplace.merge.confirm({id:vm.workplace.id})"><i class="fa fa-random"></i></button>
                    <!--<div ibox-tools></div>-->
                </div>
                <div class="ibox-content">
                    <table datatable="ng" id="workplace-merge-datatable" dt-options="vm.dtOptions" dt-column-defs="vm.dtColumnDefs" class="table table-striped table-bordered table-hover batch-selection-datatable datatable-with-operations">
                        <thead>
                        <tr>
                            <th></th>
                            <th><span translate="pcsApp.workplace.name">Name</span></th>
                            <th><span translate="pcsApp.workplace.country">Country</span></th>
                            <th><span translate="pcsApp.workplace.zipCode">Zip code</span></th>
                            <th><span translate="pcsApp.workplace.city">City</span></th>
                            <th><span translate="pcsApp.workplace.street">Street</span></th>
                            <th><span translate="pcsApp.workplace.phone">Phone</span></th>
                            <th><span translate="pcsApp.workplace.email">Email</span></th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="workplace in vm.workplaces track by workplace.id">
                                <td>
                                    <input ng-model="vm.selectedWorkplaces[workplace.id.toString()]" ng-change="vm.toggleWorkplaceSelection(workplace.id)" type="checkbox" />
                                </td>
                                <td>{{workplace.name}}</td>
                                <td>{{workplace.country.name}}</td>
                                <td>{{workplace.zipCode}}</td>
                                <td>{{workplace.city}}</td>
                                <td>{{workplace.street}}</td>
                                <td>{{workplace.phone}}</td>
                                <td>{{workplace.email}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
