<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2 data-translate="settings.title" translate-values="{username: '{{vm.settingsAccount.login}}'}">User settings for [<b>{{vm.settingsAccount.login}}</b>]</h2>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins" ng-show="vm.success">
                <div class="form-group alert alert-success">
                    <span data-translate="settings.messages.success"><strong>Settings saved!</strong></span>
                </div>
            </div>

            <div class="ibox float-e-margins" ng-show="vm.errorEmailExists">
                <div class="form-group alert alert-danger">
                    <span data-translate="settings.messages.error.emailexists"><strong>E-mail is already in use!</strong> Please choose another one.</span>
                </div>
            </div>

            <div class="ibox float-e-margins" ng-show="vm.error">
                <div class="form-group alert alert-danger">
                    <span data-translate="settings.messages.error.fail"><strong>An error has occurred!</strong> Settings could not be saved.</span>
                </div>
            </div>

            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form name="form" role="form" novalidate ng-submit="vm.save()" class="form-horizontal" show-validation>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="firstName" data-translate="settings.form.firstname">First Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="firstName" name="firstName" placeholder="{{'settings.form.firstname.placeholder' | translate}}" autocomplete="off"
                                       ng-model="vm.settingsAccount.firstName" ng-minlength=1 ng-maxlength=50 required maxlength="50">
                                <div ng-show="form.firstName.$dirty && form.firstName.$invalid">
                                    <p class="error-block"
                                       ng-show="form.firstName.$error.required" data-translate="settings.messages.validate.firstname.required">
                                        Your first name is required.
                                    </p>
                                    <p class="error-block"
                                       ng-show="form.firstName.$error.minlength" data-translate="settings.messages.validate.firstname.minlength">
                                        Your first name is required to be at least 1 character.
                                    </p>
                                    <p class="error-block"
                                       ng-show="form.firstName.$error.maxlength" data-translate="settings.messages.validate.firstname.maxlength">
                                        Your first name cannot be longer than 50 characters.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="lastName" data-translate="settings.form.lastname">Last Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="lastName" name="lastName" placeholder="{{'settings.form.lastname.placeholder' | translate}}" autocomplete="off"
                                       ng-model="vm.settingsAccount.lastName" ng-minlength=1 ng-maxlength=50 required maxlength="50">
                                <div ng-show="form.lastName.$dirty && form.lastName.$invalid">
                                    <p class="error-block"
                                       ng-show="form.lastName.$error.required" data-translate="settings.messages.validate.lastname.required">
                                        Your last name is required.
                                    </p>
                                    <p class="error-block"
                                       ng-show="form.lastName.$error.minlength" data-translate="settings.messages.validate.lastname.minlength">
                                        Your last name is required to be at least 1 character.
                                    </p>
                                    <p class="error-block"
                                       ng-show="form.lastName.$error.maxlength" data-translate="settings.messages.validate.lastname.maxlength">
                                        Your last name cannot be longer than 50 characters.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="email" data-translate="global.form.email">E-mail</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="email" name="email" placeholder="{{'global.form.email.placeholder' | translate}}" autocomplete="off"
                                       ng-model="vm.settingsAccount.email" ng-minlength=5 ng-maxlength=100 required maxlength="100">
                                <div ng-show="form.email.$dirty && form.email.$invalid">
                                    <p class="error-block"
                                       ng-show="form.email.$error.required" data-translate="global.messages.validate.email.required">
                                        Your e-mail is required.
                                    </p>
                                    <p class="error-block"
                                       ng-show="form.email.$error.email" data-translate="global.messages.validate.email.invalid">
                                        Your e-mail is invalid.
                                    </p>
                                    <p class="error-block"
                                       ng-show="form.email.$error.minlength" data-translate="global.messages.validate.email.minlength">
                                        Your e-mail is required to be at least 5 characters.
                                    </p>
                                    <p class="error-block"
                                       ng-show="form.email.$error.maxlength" data-translate="global.messages.validate.email.maxlength">
                                        Your e-mail cannot be longer than 100 characters.
                                    </p>
                                </div>
                            </div>
                        </div>

<!--
                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="langKey" data-translate="settings.form.language">Language</label>
                            <div class="col-sm-10">
                                <select id="langKey" name="langKey" class="form-control" ng-model="vm.settingsAccount.langKey" ng-controller="LanguageController" ng-options="code as (code | findLanguageFromKey) for code in languages"></select>
                            </div>
                        </div>
-->

                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="settings.form.button">Save</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
