

<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myOrderedOptionalServiceLabel" data-translate="pcsApp.orderedOptionalService.home.createOrEditLabel">Create or edit a Ordered Optional Service</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label translate="pcsApp.orderedOptionalService.optionalService" for="field_optionalService">Optional service</label>
            <ui-select ng-model="vm.orderedOptionalService.optionalServiceId"
                       ng-change="vm.optionalServiceSelectionChanged()" ng-disabled="vm.orderedOptionalService.id" name="optionalService" id="field_optionalService" theme="bootstrap">
                <ui-select-match placeholder="{{ 'global.form.please.select' | translate }}">
                    <span ng-bind="$select.selected.name"></span>
                </ui-select-match>
                <ui-select-choices repeat="optionalService.id as optionalService in (vm.optionalServices | filterChargeableItemsByCurrency : {searchText: $select.search, registrationCurrency: vm.registrationCurrency }) track by optionalService.id">
                    <div ng-bind-html="optionalService.name | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pcsApp.orderedOptionalService.participant" for="field_participant">Participant</label>
            <input type="number" class="form-control" name="participant" id="field_participant" autocomplete="off" ng-disabled="vm.orderedOptionalService.id"
                    ng-model="vm.orderedOptionalService.participant" oos-reserved-validation optionalservice="vm.selectedOptionalService"
                    required min="1" max="100" />
            <div ng-show="editForm.participant.$invalid">
                <p class="error-block"
                    ng-show="editForm.participant.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="error-block"
                    ng-show="editForm.participant.$error.min" data-translate="entity.validation.min" translate-value-min="1">
                    This field should be more than 1.
                </p>
                <p class="error-block"
                    ng-show="editForm.participant.$error.max" data-translate="entity.validation.max" translate-value-max="100">
                    This field cannot be more than 100.
                </p>
                <p class="error-block"
                    ng-show="editForm.participant.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
                <p class="error-block"
                   ng-show="editForm.participant.$error.exceededMaxPerson" translate="pcsApp.orderedOptionalService.error.exceededMaxPerson" translate-values="{notReservedSpots: '{{vm.orderedOptionalService.optionalService.maxPerson - vm.orderedOptionalService.optionalService.reserved}}'}">
                    Available free spots exceeded. Max participants can be {{ orderedOptionalService.optionalService.maxPerson - orderedOptionalService.optionalService.reserved}}.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label translate="pcsApp.orderedOptionalService.payingGroupItem" for="field_payingGroupItem">Discount</label>
            <ui-select ng-model="vm.orderedOptionalService.payingGroupItemId" name="payingGroupItem" id="field_payingGroupItem" theme="bootstrap">
                <ui-select-match allow-clear="true" placeholder="{{ 'global.form.please.select' | translate }}">
                    <span ng-bind="$select.selected.payingGroup.name + '/' + $select.selected.name"></span>
                </ui-select-match>
                <ui-select-choices repeat="payingGroupItem.id as payingGroupItem in (vm.payingGroupItems | filter: { payingGroup: { currency: { currency: vm.orderedOptionalService.optionalService.currency.currency }}} | filter: $select.search) track by payingGroupItem.id">
                    <div ng-bind-html="payingGroupItem.payingGroup.name + '/' + payingGroupItem.name | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
