
<form name="editForm" role="form" novalidate ng-submit="vm.select()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="roomReservationByParticipantLabel" data-translate="pcsApp.roomReservationByParticipant.home.createOrEditLabel">Create or edit a Group Discount Item</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label data-translate="pcsApp.roomReservationByParticipant.hotel" for="field_hotel">Hotel</label>
            <ui-select ng-model="vm.listFilter.congressHotel" name="hotel" id="field_hotel" theme="bootstrap" required>
                <ui-select-match placeholder="{{ 'global.form.please.select' | translate }}">
                    <span ng-bind="$select.selected.name"></span>
                </ui-select-match>
                <ui-select-choices repeat="congressHotel in (vm.congressHotels | filter: $select.search) track by congressHotel.id">
                    <div ng-bind-html="congressHotel.name | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
            <div ng-show="editForm.hotel.$invalid">
                <p class="error-block"
                   ng-show="editForm.hotel.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.select">Select</span>
        </button>
    </div>
</form>
