<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2 translate="password.title" translate-values="{username: '{{vm.account.login}}'}">Password for [<b>{{vm.account.login}}</b>]
        </h2>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">

            <div class="ibox float-e-margins" ng-show="vm.success">
                <div class="form-group alert alert-success" data-translate="password.messages.success">
                    <strong>Password changed!</strong>
                </div>
            </div>
            <div class="ibox float-e-margins" ng-show="vm.error">
                <div class="form-group alert alert-danger" ng-show="vm.error" data-translate="password.messages.error">
                    <strong>An error has occurred!</strong> The password could not be changed.
                </div>
            </div>

            <div class="ibox float-e-margins" ng-show="vm.doNotMatch">
                <div class="form-group alert alert-danger" ng-show="vm.doNotMatch" data-translate="global.messages.error.dontmatch">
                    The password and its confirmation do not match!
                </div>
            </div>

            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form name="form" role="form" novalidate ng-submit="vm.changePassword()" class="form-horizontal" show-validation>

                        <div class="form-group">
                                <label class="col-sm-2 control-label" for="password"
                                       translate="global.form.newpassword">New password</label>

                                <div class="col-sm-10">
                                    <input type="password" class="form-control" id="password" name="password"
                                           placeholder="{{'global.form.newpassword.placeholder' | translate}}"
                                           ng-model="vm.password" ng-minlength=4 ng-maxlength=50 required>

                                    <div ng-show="form.password.$dirty && form.password.$invalid">
                                        <p class="error-block"
                                           ng-show="form.password.$error.required"
                                           data-translate="global.messages.validate.newpassword.required">
                                            Your password is required.
                                        </p>

                                        <p class="error-block"
                                           ng-show="form.password.$error.minlength"
                                           data-translate="global.messages.validate.newpassword.minlength">
                                            Your password is required to be at least 4 characters.
                                        </p>

                                        <p class="error-block"
                                           ng-show="form.password.$error.maxlength"
                                           data-translate="global.messages.validate.newpassword.maxlength">
                                            Your password cannot be longer than 50 characters.
                                        </p>
                                    </div>
                                    <password-strength-bar password-to-check="vm.password"></password-strength-bar>
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="confirmPassword"
                                       translate="global.form.confirmpassword">New password confirmation</label>

                                <div class="col-sm-10">
                                    <input type="password" class="form-control" id="confirmPassword"
                                           name="confirmPassword"
                                           placeholder="{{'global.form.confirmpassword.placeholder' | translate}}"
                                           ng-model="vm.confirmPassword" ng-minlength=4 ng-maxlength=50 required>

                                    <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                                        <p class="error-block"
                                           ng-show="form.confirmPassword.$error.required"
                                           data-translate="global.messages.validate.confirmpassword.required">
                                            Your confirmation password is required.
                                        </p>

                                        <p class="error-block"
                                           ng-show="form.confirmPassword.$error.minlength"
                                           data-translate="global.messages.validate.confirmpassword.minlength">
                                            Your confirmation password is required to be at least 4 characters.
                                        </p>

                                        <p class="error-block"
                                           ng-show="form.confirmPassword.$error.maxlength"
                                           data-translate="global.messages.validate.confirmpassword.maxlength">
                                            Your confirmation password cannot be longer than 50 characters.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                                        <span class="glyphicon glyphicon-save"></span>&nbsp;<span
                                            translate="password.form.button">Save</span>
                                    </button>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
