<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPayingGroupLabel" data-translate="pcsApp.payingGroup.home.createOrEditLabel">Create or edit a Paying Group</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label class="control-label" data-translate="pcsApp.payingGroup.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name" autocomplete="off"
                    ng-model="vm.payingGroup.name"
                    required ng-maxlength="64" />
            <div ng-show="editForm.name.$invalid">
                <p class="error-block"
                    ng-show="editForm.name.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="error-block"
                    ng-show="editForm.name.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="64">
                    This field cannot be longer than 64 characters.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label" translate="pcsApp.payingGroup.taxNumber" for="field_taxNumber">TaxNumber</label>
            <input type="text" class="form-control" name="taxNumber" id="field_taxNumber" autocomplete="off"
                   ng-model="vm.payingGroup.taxNumber" ng-maxlength="64" />
            <div ng-show="editForm.taxNumber.$invalid">
                <span class="help-block m-b-none" ng-show="editForm.taxNumber.$error.required" translate="entity.validation.required">
                    This field is required.
                </span>
                <span class="help-block m-b-none" ng-show="editForm.taxNumber.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="64">
                    This field cannot be longer than 64 characters.
                </span>
                <p class="error-block" ng-show="editForm.taxNumber.$error.pattern" data-translate="entity.validation.pattern" data-translate-values="{ pattern: '12345678-2-42' }">
                    Ez a mező csak számokat tartalmazhat pl.: 36703125678
                </p>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label" data-translate="pcsApp.payingGroup.zipCode" for="field_zipCode">Zip Code</label>
            <input type="text" class="form-control" name="zipCode" id="field_zipCode" autocomplete="off"
                    ng-model="vm.payingGroup.zipCode"
                    ng-maxlength="32" />
            <div ng-show="editForm.zipCode.$invalid">
                <p class="error-block"
                    ng-show="editForm.zipCode.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="32">
                    This field cannot be longer than 32 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pcsApp.payingGroup.city" for="field_city">City</label>
            <input type="text" class="form-control" name="city" id="field_city" autocomplete="off"
                    ng-model="vm.payingGroup.city"
                    ng-maxlength="64" />
            <div ng-show="editForm.city.$invalid">
                <p class="error-block"
                    ng-show="editForm.city.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="64">
                    This field cannot be longer than 64 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pcsApp.payingGroup.street" for="field_street">Street</label>
            <input type="text" class="form-control" name="street" id="field_street" autocomplete="off"
                    ng-model="vm.payingGroup.street"
                    ng-maxlength="128" />
            <div ng-show="editForm.street.$invalid">
                <p class="error-block"
                    ng-show="editForm.street.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="128">
                    This field cannot be longer than 128 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pcsApp.payingGroup.contactName" for="field_contactName">Contact Name</label>
            <input type="text" class="form-control" name="contactName" id="field_contactName" autocomplete="off"
                    ng-model="vm.payingGroup.contactName"
                    ng-maxlength="128" />
            <div ng-show="editForm.contactName.$invalid">
                <p class="error-block"
                    ng-show="editForm.contactName.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="128">
                    This field cannot be longer than 128 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pcsApp.payingGroup.email" for="field_email">Email</label>
            <input type="email" class="form-control" name="email" id="field_email" autocomplete="off"
                    ng-model="vm.payingGroup.email"
                    ng-maxlength="64" />
            <div ng-show="editForm.email.$invalid">
                <p class="error-block"
                    ng-show="editForm.email.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="64">
                    This field cannot be longer than 64 characters.
                </p>
                <p class="error-block"
                   ng-show="editForm.email.$error.email" data-translate="global.messages.validate.email.invalid">
                    Your e-mail is invalid.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pcsApp.payingGroup.phone" for="field_phone">Phone</label>
            <input type="text" class="form-control" name="phone" id="field_phone" autocomplete="off"
                    ng-model="vm.payingGroup.phone"
                    ng-maxlength="64" />
            <div ng-show="editForm.phone.$invalid">
                <p class="error-block"
                    ng-show="editForm.phone.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="64">
                    This field cannot be longer than 64 characters.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label" data-translate="pcsApp.payingGroup.fax" for="field_fax">Fax</label>
            <input type="text" class="form-control" name="fax" id="field_fax" autocomplete="off"
                    ng-model="vm.payingGroup.fax"
                    ng-maxlength="64" />
            <div ng-show="editForm.fax.$invalid">
                <p class="error-block"
                    ng-show="editForm.fax.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="64">
                    This field cannot be longer than 64 characters.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label translate="pcsApp.payingGroup.country" for="field_country">Default Country</label>
            <ui-select ng-model="vm.payingGroup.country" name="country" id="field_country" theme="bootstrap" required>
                <ui-select-match placeholder="{{ 'global.form.please.select' | translate }}">
                    <span ng-bind="$select.selected.name"></span>
                </ui-select-match>
                <ui-select-choices repeat="country in (vm.countries | filter: $select.search) track by country.id">
                    <div ng-bind-html="country.name | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
            <div ng-show="editForm.country.$invalid">
                <p class="error-block"
                   ng-show="editForm.country.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label translate="pcsApp.payingGroup.currency" for="field_currency">Currency</label>
            <ui-select ng-model="vm.payingGroup.currency" name="currency" id="field_currency" theme="bootstrap" required>
                <ui-select-match placeholder="{{ 'global.form.please.select' | translate }}">
                    <span ng-bind="$select.selected.currency"></span>
                </ui-select-match>
                <ui-select-choices repeat="currency in (vm.currencies | filter: $select.search) track by currency.id">
                    <div ng-bind-html="currency.currency | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
            <div ng-show="editForm.currency.$invalid">
                <p class="error-block" ng-show="editForm.currency.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
