
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myHotelLabel" data-translate="pcsApp.hotel.home.createOrEditLabel">Create or edit a Hotel</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label class="control-label" data-translate="pcsApp.hotel.code" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code" autocomplete="off"
                   ng-model="vm.hotel.code"
                   required ng-minlength="3" ng-maxlength="16" />
            <div ng-show="editForm.code.$invalid">
                <p class="error-block"
                   ng-show="editForm.code.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="error-block"
                   ng-show="editForm.code.$error.minlength" data-translate="entity.validation.minlength" translate-value-min="3">
                    This field is required to be at least 3 characters.
                </p>
                <p class="error-block"
                   ng-show="editForm.code.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="16">
                    This field cannot be longer than 16 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pcsApp.hotel.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name" autocomplete="off"
                    ng-model="vm.hotel.name"
                    required ng-maxlength="255" />
            <div ng-show="editForm.name.$invalid">
                <p class="error-block"
                    ng-show="editForm.name.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="error-block"
                    ng-show="editForm.name.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="255">
                    This field cannot be longer than 255 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pcsApp.hotel.city" for="field_city">City</label>
            <input type="text" class="form-control" name="city" id="field_city" autocomplete="off"
                    ng-model="vm.hotel.city"
                    required ng-maxlength="255" />
            <div ng-show="editForm.city.$invalid">
                <p class="error-block"
                    ng-show="editForm.city.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="error-block"
                    ng-show="editForm.city.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="255">
                    This field cannot be longer than 255 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pcsApp.hotel.street" for="field_street">Street</label>
            <input type="text" class="form-control" name="street" id="field_street" autocomplete="off"
                    ng-model="vm.hotel.street"
                    required ng-maxlength="255" />
            <div ng-show="editForm.street.$invalid">
                <p class="error-block"
                    ng-show="editForm.street.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="error-block"
                    ng-show="editForm.street.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="255">
                    This field cannot be longer than 255 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pcsApp.hotel.zipCode" for="field_zipCode">Zip Code</label>
            <input type="text" class="form-control" name="zipCode" id="field_zipCode" autocomplete="off"
                    ng-model="vm.hotel.zipCode"
                    required ng-maxlength="32" />
            <div ng-show="editForm.zipCode.$invalid">
                <p class="error-block"
                    ng-show="editForm.zipCode.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="error-block"
                    ng-show="editForm.zipCode.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="32">
                    This field cannot be longer than 32 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pcsApp.hotel.latitude" for="field_latitude">Latitude</label>
            <input type="number" class="form-control" name="latitude" id="field_latitude" autocomplete="off"
                    ng-model="vm.hotel.latitude"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pcsApp.hotel.longitude" for="field_longitude">Longitude</label>
            <input type="number" class="form-control" name="longitude" id="field_longitude" autocomplete="off"
                    ng-model="vm.hotel.longitude"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pcsApp.hotel.phone" for="field_phone">Phone</label>
            <input type="text" class="form-control" name="phone" id="field_phone" autocomplete="off"
                    ng-model="vm.hotel.phone"
                    ng-maxlength="64" />
            <div ng-show="editForm.phone.$invalid">
                <p class="error-block"
                    ng-show="editForm.phone.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="64">
                    This field cannot be longer than 64 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pcsApp.hotel.fax" for="field_fax">Fax</label>
            <input type="text" class="form-control" name="fax" id="field_fax" autocomplete="off"
                    ng-model="vm.hotel.fax"
                    ng-maxlength="64" />
            <div ng-show="editForm.fax.$invalid">
                <p class="error-block"
                    ng-show="editForm.fax.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="64">
                    This field cannot be longer than 64 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pcsApp.hotel.email" for="field_email">Email</label>
            <input type="email" class="form-control" name="email" id="field_email" autocomplete="off"
                    ng-model="vm.hotel.email"
                    ng-maxlength="64" />
            <div ng-show="editForm.email.$invalid">
                <p class="error-block"
                    ng-show="editForm.email.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="64">
                    This field cannot be longer than 64 characters.
                </p>
                <p class="error-block"
                   ng-show="editForm.email.$error.email" data-translate="global.messages.validate.email.invalid">
                    Your e-mail is invalid.
                </p>

            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pcsApp.hotel.contactName" for="field_contactName">Contact Name</label>
            <input type="text" class="form-control" name="contactName" id="field_contactName" autocomplete="off"
                    ng-model="vm.hotel.contactName"
                    ng-maxlength="128" />
            <div ng-show="editForm.contactName.$invalid">
                <p class="error-block"
                    ng-show="editForm.contactName.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="128">
                    This field cannot be longer than 128 characters.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
