<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="profile-element">
                    <span class="clear">
                        <span class="block m-t-xs">
                            <h1 style="margin-top: 0px; font-weight: 700;">PCS+</h1>
                        </span>
                        <span class="text-muted text-xs block">{{vm.account.firstName}} {{vm.account.lastName}}</span>
                    </span>
                </div>
                <div class="logo-element">
                    PCS+
                </div>
            </li>

            <li ng-class="{active: $state.includes('administration')}" ng-show="vm.isCongressSelected()">
                <a href=""><i class="fa fa-edit"></i> <span class="nav-label" translate="global.menu.administration.main">Administration</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('administration')}">
                    <li ui-sref-active="active"><a ui-sref="registration" translate="global.menu.administration.registration">Registration</a></li>
                    <li ui-sref-active="active"><a ui-sref="backend-online-reg" translate="global.menu.administration.onlineReg">Online Reg</a></li>
                    <li ui-sref-active="active"><a ui-sref="workplace" translate="global.menu.administration.workplace">Workplace</a></li>
                    <li ui-sref-active="active"><a ui-sref="registration-type" translate="global.menu.administration.registrationType">Registration Type</a></li>
                    <li ui-sref-active="active"><a ui-sref="congress-hotel" translate="global.menu.administration.selectedHotel">Selected hotel</a></li>
                    <li ui-sref-active="active"><a ui-sref="optional-service" translate="global.menu.administration.optionalService">Optional Service</a></li>
                    <li ui-sref-active="active"><a ui-sref="group-discount-item" translate="global.menu.administration.groupFinancial">Group financial</a></li>
                    <li ui-sref-active="active"><a ui-sref="group-discount-invoice" translate="global.menu.administration.groupInvoice">Group invoice</a></li>
                    <li ui-sref-active="active"><a ui-sref="group-discount-payment" translate="global.menu.administration.groupPayment">Group payment</a></li>
                    <li ui-sref-active="active"><a ui-sref="paying-group" translate="global.menu.administration.payingGroup">Paying Group</a></li>
                    <li ui-sref-active="active"><a ui-sref="misc-invoice" translate="global.menu.administration.miscInvoice">Misc Invoice</a></li>
                    <li ui-sref-active="active"><a ui-sref="misc-service" translate="global.menu.administration.miscService">Misc Service</a></li>
                    <li ui-sref-active="active"><a ui-sref="congress-vat-info({congressSpecific: true})" translate="global.menu.administration.vatInfo">VAT Info</a></li>
                    <li ui-sref-active="active"><a ui-sref="optional-text" translate="global.menu.administration.optionalText">Optional text</a></li>
                </ul>
            </li>

            <li ng-class="{active: $state.includes('report')}" ng-show="vm.isCongressSelected()">
                <a href=""><i class="fa fa-bar-chart-o"></i> <span class="nav-label" translate="global.menu.report.main">Report</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('report')}">
                    <li ui-sref-active="active"><a ui-sref="general-registration-report" translate="global.menu.report.generalRegistrationReport">Registration Report</a></li>
                    <li ui-sref-active="active"><a ui-sref="financial-report" translate="global.menu.report.financialReport">Financial Report</a></li>
                    <li ui-sref-active="active"><a ui-sref="hotel-general-report" translate="global.menu.report.hotelGeneralReport">Hotel General Report</a></li>
                    <li ui-sref-active="active"><a ui-sref="room-reservation-by-participant" translate="global.menu.report.roomReservationByParticipant">Reservation By Participant</a></li>
                    <li ui-sref-active="active"><a ui-sref="room-reservation-by-room" translate="global.menu.report.roomReservationByRoom">Reservation By Room</a></li>
                    <li ui-sref-active="active"><a ui-sref="hotel-summary" translate="global.menu.report.hotelSummary">Hotel Summary</a></li>
                    <li ui-sref-active="active"><a ui-sref="optional-service-applicant" translate="global.menu.report.optionalServiceApplicant">Optional Service Applicant</a></li>
                    <li ui-sref-active="active"><a ui-sref="optional-programs-members" translate="global.menu.report.optionalProgramsMembers">Optional service</a></li>
                    <li ui-sref-active="active"><a ui-sref="payment-summary" translate="global.menu.report.paymentSummary">Payment summary</a></li>
                    <li ui-sref-active="active"><a ui-sref="regfee-details-by-participant" translate="global.menu.report.regFeeDetailsByParticipant">Regfee by participant</a></li>
                    <li ui-sref-active="active"><a ui-sref="regfee-details" translate="global.menu.report.regFeeDetails">Regfee details</a></li>
                    <li ui-sref-active="active"><a ui-sref="online-reg-custom-answer-report" translate="global.menu.report.onlineRegCustomAnswerReport">Online reg custom answer report</a></li>
                </ul>
            </li>

            <li ng-class="{active: $state.includes('maintenance')}" has-authority="ROLE_ADMIN">
                <a href=""><i class="fa fa-th-large"></i> <span class="nav-label" translate="global.menu.maintenance.main">Maintenance</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('maintenance')}">
                    <li ui-sref-active="active"><a ui-sref="congress" translate="global.menu.maintenance.congress">Congress</a></li>
                    <li ui-sref-active="active"><a ui-sref="hotel" translate="global.menu.maintenance.hotel">Hotel</a></li>
                    <li ui-sref-active="active"><a ui-sref="invoice-report" translate="global.menu.maintenance.invoiceReport">Invoice Report</a></li>
                    <li ui-sref-active="active"><a ui-sref="credit-card-report" translate="global.menu.maintenance.creditCardReport">Credit Card Report</a></li>
                    <li ui-sref-active="active"><a ui-sref="payment-transaction-report" translate="global.menu.maintenance.paymentTransactionReport">Payment Transaction Report</a></li>
                    <li ui-sref-active="active"><a ui-sref="rate" translate="global.menu.maintenance.rate">Currency Rate</a></li>
                    <li ui-sref-active="active"><a ui-sref="bank-account" translate="global.menu.maintenance.bankAccount">Bank Account</a></li>
                    <li ui-sref-active="active"><a ui-sref="vat-info({congressSpecific: false})" translate="global.menu.maintenance.vatInfo">VAT info</a></li>
                    <li ui-sref-active="active"><a ui-sref="partner" translate="global.menu.maintenance.partner">Partner</a></li>
                    <li ui-sref-active="active"><a ui-sref="country" translate="global.menu.maintenance.country">Country</a></li>
                    <li ui-sref-active="active"><a ui-sref="company" translate="global.menu.maintenance.companyProfile">Company Profile</a></li>
                </ul>
            </li>

            <li ng-class="{active: $state.includes('account')}">
                <a href=""><i class="fa fa-user"></i> <span class="nav-label" translate="global.menu.account.main">Account</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('account')}">
                    <li ui-sref-active="active"><a ui-sref="settings" translate="global.menu.account.settings">Settings</a></li>
                    <li ui-sref-active="active"><a ui-sref="password" translate="global.menu.account.password">Password</a></li>
                    <!--<li ui-sref-active="active"><a ui-sref="sessions" translate="global.menu.account.sessions">Sessions</a></li>-->
                </ul>
            </li>

            <li ng-class="{active: $state.includes('system')}" has-authority="ROLE_ADMIN">
                <a href=""><i class="fa fa-cogs"></i> <span class="nav-label" translate="global.menu.admin.main">Administration</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('system')}">
                    <li ui-sref-active="active"><a ui-sref="user-management" translate="global.menu.admin.user-management">User management</a></li>
                    <li ui-sref-active="active"><a ui-sref="currency" translate="global.menu.admin.currency">Currency</a></li>
                    <!--<li ui-sref-active="active"><a ui-sref="jhi-metrics" translate="global.menu.admin.metrics">Metrics</a></li>-->
                    <!--<li ui-sref-active="active"><a ui-sref="jhi-health" translate="global.menu.admin.health">Health</a></li>-->
                    <!--<li ui-sref-active="active"><a ui-sref="jhi-configuration" translate="global.menu.admin.configuration">Configuration</a></li>-->
                    <!--<li ui-sref-active="active"><a ui-sref="audits" translate="global.menu.admin.audits">Audits</a></li>-->
                    <!--<li ui-sref-active="active"><a ui-sref="logs" translate="global.menu.admin.logs">Logs</a></li>-->
                    <!--<li ng-hide="inProduction" ui-sref-active="active"><a ui-sref="docs" translate="global.menu.admin.apidocs">API</a></li>-->
                </ul>
            </li>

        </ul>

    </div>
</nav>
