<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
<head>
    <title th:text="${confirmationTitle ?: ''}">Confirmation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}"/>
</head>
<body>
    <p th:text="#{confirmation.pdf.email.greeting(${title ?: ''}, ${name1 ?: ''}, ${name2 ?: ''})}">Dear</p>
    <p th:text="#{confirmation.pdf.email.content(${contentType})}">Please find the confirmation letter attached.</p>
    <p>
        <span th:text="#{confirmation.pdf.email.regards}">Sincerely,</span>
        <br/>
        <em th:text="#{confirmation.pdf.email.signature}">CongressLine Ltd.</em>
    </p>
</body>
</html>
