<form name="confirmationForm" ng-submit="vm.confirm()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" data-translate="entity.accept.title">Confirm accept operation</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <p data-translate="pcsApp.backendOnlineReg.acceptAll.question">Are you sure you want to accept all the selected online registrations?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="confirmationForm.$invalid" class="btn btn-primary">
            <span class="fa fa-group"></span>&nbsp;<span data-translate="entity.action.accept">Accept</span>
        </button>
    </div>
</form>
